<!--interpolation-->
<!--<p>roles works!</p>
<div class = "row">
    <div class = "col-3">
        <p>{{firstName}}</p> 
    </div>
    <div class = "col-3">
        <p>{{version}}</p>
    </div>
    <div class = "col-3">
        <p>{{currentDate}}</p>
    </div>
    <div class = "col-3">
        <p>{{selectedState}}</p>
    </div>
</div> -->

<!--property binding-->
<!--<div class="row">
    <div class="col-3">
        <input type="text" [value]="firstName" class="form-control">
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="firstName">--> <!--two way data binding-->
<!--    </div>
    <div class="col-3">
        <input type="button" value="Click Me">
    </div>
    <div class = "col-3">
        <select [(ngModel)] = "selectedState">
            <option value = "MH">MH</option>
            <option value = "GJ">GJ</option>
            <option value = "RJ">RJ</option>
        </select>
    </div>
</div>-->

<!--event binding-->
<!--<div class = "row">
    <div class = "col-3">
        <button class = "btn btn-success" (click) = "showWelcomeAlert()">Show Welcome Alert</button>
    </div>
    <div class = "col-3">
        <button class = "btn btn-success" (click) = "showMessage('buttonpressed')">Show React Msg</button>
    </div>
</div> -->

<!-- usage of ngfor (Structural Directives)-->
<!--<div class = "row">
    <div class = "col-4">
        <ul>
            <li *ngFor = "let item of roleList">{{item.role}}</li>
        </ul>
    </div>
    <div class ="col-4">
        <select>
            <option *ngFor = "let role of roleList" [value]="role.roleId">{{role.role}}</option>
        </select>
    </div>
    <div class = "col-4">
        <button class = "btn btn-warning mx-2" *ngFor = "let item of roleList"> {{item.role}}</button> 
    </div>
</div>-->

<div class = "row">
    <div class = "col-12">
        <table class = "table table-bordered">
            <thead>
                <tr>
                    <th> Sr No</th>
                    <th>Role Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let role of roleList; let srno = index">
                    <td>{{srno+1}}</td>
                    <td>{{role.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


